<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="container">
      <center>
        <h1>Death Prediction due to Heart Disease!</h1>
        <form method="POST">
          <div class="row">
            <div class="col-25">
              <label for="fname"
                >Input a comma separated list of attribute values :</label
              >
            </div>
            <div class="col-75">
              <input type="text" name="text" />
            </div>
          </div>

          <div class="row">
            <input type="submit" value="Submit" style="margin-top: 2rem" />
          </div>

          <div class="row">
            <h2 class="output">{{output}}</h2>
          </div>

        </form>
      </center>
    </div>
  </body>
</html>
